@import url(./colors.css);
*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    max-height: 100vh;
    height: 100vh;

}
.logo {
    width: 70%;
}
.create-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    color: #fff;
    border-right: 1px solid #000;
    background: crimson;
}
.types-container {
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokedex-container {
    flex: 4;
    display: flex;
    overflow-y: scroll;
    height: 100%;
    padding: .8rem;
    flex-wrap: wrap;
}
.pokemon-container {
    width: 18%;
    height: 40%;
    padding: .5rem;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2.5%;
}
.img-container {
    width: 55%;
    aspect-ratio: 1 /1;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
label {
    font-size: 1.4rem;
    text-align: center;
}
input[type="text"] {
    padding: 0.6rem;
    width: 75%;
    border: none;
    border-radius: 8px;
    outline: none;
    border: 3px solid #000;
}
button {
    margin: .8rem;
    padding: .5rem .4rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #000;
    color: #fff;
}
.secondary {
    background: #fff;
    color: #000;
    border: 3px solid #000;
}
.none {
    display: none;
}
.name {
    text-transform: capitalize;
    text-align: center;
}
.result {
    text-align: center;
}